body {
  font-family: 'Lato', sans-serif;
  color: #414141; }

.section-inner {
  width: 1180px;
  margin: 0 auto; }

.description-item__icon {
  margin-bottom: 20px; }

.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px; }

.description-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6c6c6c; }

.btn-main {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 14px 20px 13px 20px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #fe985b, #fe4fa7); }
  .btn-main:hover {
    background-image: linear-gradient(to right, #fe4fa7, #fe985b); }

.btn-secondary {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 14px 20px 13px 20px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #979797;
  background-color: #fff;
  transition: all 0.2s; }
  .btn-secondary:hover {
    border-color: #fe4fa7;
    color: #fe4fa7; }

.btn-free {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 14px 20px 13px 20px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: #fff; }

.section-header {
  color: #fff;
  background: url("../img/bg/bg-header.png") center center/cover no-repeat;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column; }
  .section-header:before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(20, 39, 41, 0.6); }
  .section-header-logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    padding-top: 35px; }
  .section-header-content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title, .section-header-wrapper__subtitle {
      text-align: center; }
    .section-header-wrapper__title {
      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 17px; }
    .section-header-wrapper__subtitle {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      margin: 0 auto 44px auto;
      width: 80%; }
    .section-header-wrapper__form {
      display: flex; }
      .section-header-wrapper__form-input {
        flex: 1;
        padding-right: 40px; }
        .section-header-wrapper__form-input input {
          border: none;
          background-color: rgba(255, 255, 255, 0.25);
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          padding: 15px 0 15px 20px;
          border-radius: 4px;
          transition: background-color 0.2s;
          width: 100%; }
          .section-header-wrapper__form-input input::placeholder {
            color: #fff; }
          .section-header-wrapper__form-input input:focus {
            background-color: rgba(255, 255, 255, 0.5); }

.section-promo {
  padding-top: 117px;
  padding-bottom: 117px; }
  .section-promo-1 {
    display: flex; }
    .section-promo-1__content, .section-promo-1__video {
      flex-basis: 50%; }
    .section-promo-1__content {
      padding-right: 90px; }
      .section-promo-1__content .title {
        font-size: 32px;
        font-weight: bold;
        line-height: 51px;
        margin-bottom: 56px; }
      .section-promo-1__content .description-item {
        margin-top: 29px; }
    .section-promo-1__video img {
      width: 100%;
      height: auto; }
  .section-promo-2 {
    display: flex;
    padding-top: 86px;
    margin-top: 117px;
    border-top: 1px solid #e2e2e2;
    text-align: center; }
    .section-promo-2 .description-item ~ .description-item {
      margin-left: 40px; }

.section-founder {
  background-color: #f6fafd;
  padding-top: 34px; }
  .section-founder .section-inner {
    display: flex; }
  .section-founder__img {
    align-self: flex-end; }
  .section-founder__content {
    padding-left: 56px;
    align-self: center; }
    .section-founder__content-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 36px; }
    .section-founder__content-name {
      font-size: 24px;
      font-weight: 700; }
    .section-founder__content-post {
      font-size: 20px;
      font-weight: 400; }

.section-plans {
  padding-top: 117px;
  padding-bottom: 117px;
  text-align: center; }
  .section-plans__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 51px;
    margin-bottom: 17px; }
  .section-plans__subtitle {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto 80px auto;
    width: 50%; }
  .section-plans__list {
    display: flex;
    justify-content: center; }
    .section-plans__list-item {
      flex-basis: 370px;
      padding: 60px 45px; }
      .section-plans__list-item_title {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 27px; }
      .section-plans__list-item_price {
        margin-bottom: 28px; }
        .section-plans__list-item_price .prefix {
          color: #fe4fa7;
          font-size: 72px;
          font-weight: 700; }
        .section-plans__list-item_price .postfix {
          font-size: 14px;
          font-weight: 700; }
      .section-plans__list-item_description {
        color: #6c6c6c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 50px; }
      .section-plans__list-item.active {
        background-color: #f6fafd; }

.section-free {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, #fe985b, #fe4fa7); }
  .section-free__title {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 27px; }
  .section-free__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto 40px auto;
    width: 50%; }

.section-footer {
  padding-top: 86px;
  padding-bottom: 93px; }
  .section-footer__logo {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #464646;
    margin-bottom: 29px; }
  .section-footer__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 74px; }
    .section-footer__nav li {
      list-style-type: none; }
      .section-footer__nav li ~ li {
        margin-left: 60px; }
      .section-footer__nav li a {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: #464646;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.2s; }
        .section-footer__nav li a.active, .section-footer__nav li a:hover {
          color: #fe50a6; }
  .section-footer__copyright_and_links {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    margin: 0 auto; }
    .section-footer__copyright_and_links-links .helper-links {
      display: flex;
      margin: 0; }
      .section-footer__copyright_and_links-links .helper-links li {
        list-style-type: none; }
        .section-footer__copyright_and_links-links .helper-links li ~ li {
          margin-left: 20px; }
        .section-footer__copyright_and_links-links .helper-links li a {
          color: #464646;
          text-decoration: none; }
          .section-footer__copyright_and_links-links .helper-links li a:hover {
            text-decoration: underline; }
